.game-over-card {
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    width: 400px;
    height: 250px;
    margin-left: 35%;
    margin-top: 10%;
    background-color: #111;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    background-color: transparent;
}

#canvas-wrap {
    position:relative;
}

.game-over-container {
    text-align: center;
}

.game-over, .winner-name {
    font-size: 2em;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInBounce 2s forwards;
    background: -webkit-linear-gradient(left, #f06, #9f6);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.specialButton {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: color 0.3s;
}

.specialButton::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background: -webkit-linear-gradient(left, #f06, #9f6);
    border-radius: inherit;
    opacity: 0.7;
}

.specialButton:hover {
    color: greenyellow;
    scale: 1.2;
    transition: 0.5s ease;
}

.play-again {
    border: 2px solid #9f6;
}

.go-menu {
    border: 2px solid #f06;
}

.neonButton,.neonBlock,.neonBlockD {
    margin-top: 150px;
    padding: 10px 10px;
    display: inline-block;
    color: blueviolet;
    background: #008000;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    overflow: hidden;
    transition: all 0.5s ease;
}

.neonButton:hover,.neonBlock:hover {
    color: darkviolet;
    background: #39ff14;
    scale: 120%;
    box-shadow: 0 0 50px #39ff14;
}

.rowCarrier {
    display: flex;
    flex-direction: row;
}

.board {
    align-self: center;
    margin-left: 20%;
}

.neonBlock {
    height: 110px;
    width: 110px;
    margin-left: 10px;
    margin-top: 0px;
}

.neonBlockD {
    height: 110px;
    width: 110px;
    margin-left: 10px;
    margin-top: 0px;
    pointer-events: none;
}

.blockText {
    font-size: 3em;
    margin-top: -30px;
}

.player1, .player2 {
    scale: 150%;
    margin-left: 5%;
    margin-top: 15%;
    color: grey;
    align-self: baseline;
}

.player1C, .player2C {
    scale: 180%;
    margin-left: 5%;
    margin-top: 15%;
    color: darkviolet;
    text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px darkviolet,
            0 0 73px darkviolet,
            0 0 80px darkviolet,
            0 0 94px darkviolet,
            0 0 140px darkviolet;
    align-self: baseline;
}

.player2 {
    margin-left: 20%;
}

.player2C {
    margin-left: 20%;
}

.game {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}